// Specific CSS for your home-page
.phrase-couleur {
    color: #874C62;
}
.titre-bold {
    font-weight: 900;
}

body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #A7D2CB;
}

h2, p {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

p {
  font-size: 24px;
}
