<footer>
    <%# <div class='footer-top'>
        <%# <div class='footer-col'>
            <h3>À propos</h3>
            <a href="#">Services</a>
            <a href="#">Histoire de l'entreprise</a>
            <a href="#">Nos Clients</a>
            <a href="#">Carrière</a>
        </div>
        <div class='footer-col'>
            <h3>Ressources</h3>
            <a href="#">Documents</a>
            <a href="#">Blog</a>
            <a href="#">eBooks</a>
            <a href="#">Webinaires</a>
        </div> %>
        <%# <div class='footer-col'>
            <h3>Contact</h3>
            <a href="#">Aide & conseils</a>
            <a href="#">SAV</a>
            <a href="#">Demande de devis</a>
        </div> %>
    <%# </div> %>
    <div class="footer-middle">
        <h3>Restez à jour</h3>
        <form>
            <label for="newsletter">Inscrivez-vous à la newsletter pour recevoir les dernières informations.</label>
            <div>
                <input type="email" name="newsletter" id="newsletter" placeholder="exemple@gmail.com" required>
                <input type="submit" value="Inscription">
            </div>
        </form>
    </div>
    <div class="footer-bottom">
        <a href="#" class="social"><i class="fa-brands fa-slack"></i></a>
        <a href="#" class="social"><i class="fa-brands fa-linkedin" style="color: #32538b;"></i></a>
        <a href="#" class="social"><i class="fa-brands fa-github"></i></a>
    </div>
</footer>
