<footer>
    <a href="#" class="btn" data-controller="scroll">
        <span class="" data-target="scroll.scroll" data-action="scroll@window->scroll#updateScroll">
            <i class="fa-sharp fa-solid fa-caret-up fa-bounce fa-xs" style="color: #a17436;"></i>
        </span>
    </a>
    <%# <div class='footer-top'>
        <%# <div class='footer-col'>
            <h3>À propos</h3>
            <a href="#">Services</a>
            <a href="#">Histoire de l'entreprise</a>
            <a href="#">Nos Clients</a>
            <a href="#">Carrière</a>
        </div>
        <div class='footer-col'>
            <h3>Ressources</h3>
            <a href="#">Documents</a>
            <a href="#">Blog</a>
            <a href="#">eBooks</a>
            <a href="#">Webinaires</a>
        </div> %>
        <%# <div class='footer-col'>
            <h3>Contact</h3>
            <a href="#">Aide & conseils</a>
            <a href="#">SAV</a>
            <a href="#">Demande de devis</a>
        </div> %>
    <%# </div> %>
    <div class="footer-middle">
        <h3>Restez à jour</h3>
        <form>
            <label for="newsletter">Inscrivez-vous à la newsletter pour recevoir les dernières informations.</label>
            <div>
                <input type="email" name="newsletter" id="newsletter" placeholder="exemple@gmail.com" required>
                <input type="submit" value="Inscription">
            </div>
        </form>
    </div>
    <div class="footer-bottom">
        <a href="#" class="social"><i class="fa-brands fa-slack"></i></a>
        <a href="#" class="social"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#" class="social"><i class="fa-brands fa-github"></i></a>
    </div>
    <div class="bouton-phone">
        <a href="/"><i class="fa-solid fa-house"></i></a>
        <a href="/"><i class="fa-solid fa-comment"></i></a>
        <a href="/"><i class="fa-solid fa-user borger-end"></i></a>
        <a href="/organizations"><i class="fa-solid fa-earth-americas"></i></a>
    </div>
</footer>
