<img src="https://picsum.photos/600/300" alt="Image de la carte">
<p><%= event.date.strftime("%d-%m-%Y") %></p>
<%= link_to event.title, organization_event_path(event.organization, event), class: "button" %>
