<div data-controller="scroll">
  <a href="#" class="btn" >
    <span class="" data-target="scroll.scroll" data-action="scroll@window->scroll#updateScroll">
      <i class="fa-sharp fa-solid fa-caret-up fa-bounce fa-xl" style="color: #a17436;"></i>
    </span>
  </a>
</div>