.article-card {
  background-color: #FFF5EE;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 2px #E3CAA5;
}

.event-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
