.projcard-container {
  display: inline-block;
  max-width: 500px;
  margin: 0 auto;
  // grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(4, 1fr 3fr 1fr 1fr);
  grid-template-areas:
  "title-subtitle title-subtitle title-subtitle"
  "projcard-img projcard-description projcard-description";
  box-shadow: 10px 5px 5px red;
  padding: 20px;
}

.projcard-img {
  grid-area: projcard-img;
  margin-left: 10px;
}

.title-subtitle {
  grid-area: title-subtitle;
  margin-top: 10px;
  text-align: center;
}

.projcard-description {
  grid-area: projcard-description;
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
}

.title-subtitle h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: red;
}

.title-subtitle h3{
  margin-bottom: 20px;
  font-family: 'Arial Narrow', sans-serif;
  color: blue;
}
