$light-gray: #F4F4F4;
$primary-color: #fff;
$border-radius: 5px;
$black-color: #010004;
$hover-color: #CEAB93;
$transition-duration: 0,5s;

.bp-index-container-ac {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
  .bp-container-grid-ac {
    background-color: $primary-color;
    position: relative;
    display: grid;
    grid-template-columns: 300px 600px;
    border-radius: $border-radius;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    transition: box-shadow $transition-duration ease;
  
    img {
      
      width: 300px;
      height: 300px;
      border-radius: $border-radius 0 0 $border-radius;
    }
  
    .bouton-ac {
      position: absolute;
      bottom: -20px;
      right: -20px;
      border: none;
      outline: none;
      display: flex;
      align-items: center;
      background-color: #EEE3CB;
      color: $black-color;
      padding: 22px 45px;
      font-size: 1rem;
      text-transform: uppercase;
      border-radius: $border-radius;
      cursor: pointer;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
      transition: background-color $transition-duration ease;
  
      i {
        margin-left: 20px;
        font-size: 1.5rem;
      }
    }
    &:hover {  
        .bouton-ac {
          color: $primary-color;
          background-color: $hover-color;
          transition: color $primary-color  $transition-duration ease;
        }
    }
}

.affichage-ac {
    margin-top: 30px;
    display: grid;
    grid-gap: 30px;
  }

.container__ac {
padding: 40px 40px 0;

    h1 {
        color: $black-color;
        font-weight: 400;

    }

    p {
        font-size: 20px;

    }

    .container__ac__timing {
        display: flex;
        margin: 20px 0 10px;

        .container__ac__timing_time {
        margin-right: 40px;
        }

        h2 {
        margin-bottom: 5px;
        font-size: 1rem;
        font-weight: 400;
        color: #818189;
        }

        p {
        color: $black-color;
        font-weight: bold;
        font-size: 1.2rem;
        }
    }
}