.events-map {
  height: 100vh;
  width: 35%;
  position: sticky;
  top: 0;
}

.events-container {
  display: flex;
}

.events-content {
  width: 65%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding: 20px;
}

@media(max-width: 992px) {
    .events-content {
      grid-template-columns: 1fr;
      width: 100%;
    }
    .events-container {
        display: block;
    }
    .events-map {
        height: 300px;
        width: 100%;
        margin-top: 16px;
    }
  }