* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:visited, a:active {
    text-decoration: none;
    color: inherit;
    transition: all .2s ease;
}

a:hover {
    color: #000000;
}

main {
    margin: auto;
    text-align: center;
}


footer {
    background-color: #E3CAA5;
    color: #000000;
    padding: 30px 100px;
}

footer h3 {
    color: white;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
    justify-items: center;
    max-width: 900px;
    margin: 0 auto 80px auto;
}

.footer-col {
    width: max-content;
}

.footer-col > * {
    display: block;
    width: max-content;
}

.footer-col > h3 {
    margin-bottom: 20px;
    font-size: 25px;
}

.footer-col > a {
    padding: 5px 0;
}

.footer-middle {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}

.footer-middle h3 {
    margin-bottom: 10px;
}

.footer-middle label {
    display: block;
    margin-bottom: 10px;
    overflow-wrap: break-word;
}

.footer-middle input {
    padding: 10px;
    border-radius: 3px;

}

.footer-middle input[type="submit"] {
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.footer-middle input[type="submit"]:hover {
    color: white;
    background-color: #AD8B73;
}

.footer-bottom {
    display: flex;
    justify-content: center;
}

a.social {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    color: black;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

a.social:hover {
    background-color: #AD8B73;
    color: white;
}

a.social:not(:last-child) {
    margin-right: 10px;
}

.bouton-phone {
    display: none;
}

@media screen and (max-width: 900px) {
    .footer-top{
        justify-items: start;
    }
}

@media screen and (max-width: 560px) {
    footer {
        padding: 30px;
    }
    .footer-middle {
        display: none;

    }
    .bouton-phone {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 100px;
        font-size: 40px;
        margin: 0 0 0 4px;
        color: #AD8B73;
    }
    a.social {
        display: none;
    }
}
