// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "footer";
@import "card";
@import "button";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import "banner";
@import "eventmap";
@import "map";
@import "scroll";
@import "readmore";
@import "card_association";
@import "scroll_x";
@import "article_card";
