.center-form{
  display: inline-block;
  justify-content: center;
  margin: 50px 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #AD8B73;
  padding: 30px;
  background-color: #CEAB93;
  width: 30%;
}
