.navbar-lewagon {
  justify-content: space-between;
  background: #E3CAA5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avat-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}